#canvas {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2em;
}

#help {
  margin: 24px;
  z-index: 10;
  position: relative;
}

#dds {
  margin: 24px;
  z-index: 10;
  position: relative;
}

#apply_now {
  position: absolute;
  bottom: 2em;
  left: 1.3em;
}

#sky {
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
  z-index: -1;
}

#city {
  width: 1080px;
  height: 462px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -231px 0 0 -540px;
  z-index: 0;
}

#footer {
  margin-top: -2em;
}

#sje {
  margin-top: 500px;
  bottom: -3.5em;
  right: 1em;
}

#jmp {
  bottom: 0;
  right: -4em;
  -webkit-animation-delay: .2s;
}

#clouds_left {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 700px;
  width: 299px;
  z-index: 1;
}

#clouds_right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 326px;
  height: 700px;
  z-index: 1;
}
