.cloud {
  display: block;
  height: 3em;
  width: 4em;
  position: absolute;
}

.dd {
  height: 640px;
  width: 640px;
  position: absolute;
  background-position: right bottom;
  background-repeat: no-repeat;
}
