.cloud {
  display: block;
  height: 3em;
  width: 4em;
  position: absolute;
}

.dd {
  height: 640px;
  width: 640px;
  position: absolute;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bubble {
  max-width: 20em;
  margin: 24px;
  position: relative;
  z-index: 10;
  padding: .5em;
  display: inline-block;
  &:active {
    top: 3px;
    left: -3px;
  }
}
