html {
  font-family: sans-serif;
}

#sje {
  background-image: url(/images/sje.png);
}

#jmp {
  background-image: url(/images/jmp.png);
}

#city {
  background-image: url(/images/city.png);
}

#sky {
  background-color: #78D0EB;
}

.cloud {
  background: whiteSmoke;
  border: 1px solid;
}
