<!DOCTYPE html>
<html>
<head>
<title>Dream Directors</title>
<link rel="shortcut icon" href="/images/favicon.png" />
<meta name="viewport" content="width=1024" />
{% css_asset_tag global %}
- /_assets/stylesheets/manifest.scss
{% endcss_asset_tag %}
</head>
<body>
{{ content }}
<div id="footer">
  <a href="/main.html">continue to thefutureproject.org &gt;</a>
</div>
{% javascript_asset_tag global %}
- /_assets/javascripts/modernizr.js
- /_assets/javascripts/spin.min.js
- /_assets/javascripts/splash.js
{% endjavascript_asset_tag %}
</body>
</html>
