<!DOCTYPE html>
<html>
<head>
<title>Dream Directors</title>
<link rel="shortcut icon" href="/images/favicon.png" />
<meta name="viewport" content="width=1024" />
{% css_asset_tag global %}
- /_assets/stylesheets/manifest.scss
{% endcss_asset_tag %}
<meta property="og:image" content="http://dream.org/images/dd_facebook.png"/>
<meta property="og:title" content="Dream Directors"/>
<meta property="og:url" content="http://dream.org/"/>
</head>
<body>
{{ content }}
{% javascript_asset_tag global %}
- /_assets/javascripts/modernizr.js
- /_assets/javascripts/spin.min.js
- /_assets/javascripts/splash.js
{% endjavascript_asset_tag %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35246062-3']);
  _gaq.push(['_setDomainName', 'dream.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
